.mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 10px;
}
.section1 {
    width : 97%;
    border-right: 2px solid white;
}
.listArticle {
    border-radius: 10px 10px 0 0;
    background: var(--bs-gray-800);
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 10px;
    overflow-y: scroll;
}

.section1 header .articleInfo {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
