ul.nav-links li.link {
    padding: 5px 10px;
    /*border: 2px solid lightblue;*/
    position: relative;
    z-index: 1;
}

ul.nav-links li.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid yellow;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

ul.nav-links li.link:hover::before{
    width: 100%;
    /*background: yellow;*/
}
ul.nav-links li.link a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

ul.nav-links li.link:has(a.active)::before{
        width: 100%;
}

ul.nav-links li a.active {
    color: yellow;
    font-weight: bold;
}
ul#my-mobile-link li a {
    color: white;
    /*transition: all .5s ease;*/
}
ul#my-mobile-link li:hover a {
    color: var(--bs-secondary);
}
/*ul#my-mobile-link li {*/
/*    transition: all .01s ease;*/
/*}*/

ul#my-mobile-link li a.active {
    color: var(--bs-warning);
}
ul#my-mobile-link li:has(a.active){
    border: 2px solid var(--bs-warning);
}

ul#my-mobile-link li:has(a:hover) {
    border: 2px solid var(--bs-secondary);
}