* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.appBody header{
    color: white;
}

.appBody {
    background: var(--bs-gray-700);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.appBody .page {
    color: white;
    flex-grow: 1;
    background: var(--bs-gray-700);
}